
/* Add a orange color to the top navigation */
.topnav {
  background-color: #F67F27;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #931B00;
  text-align: center;
  padding: 15px 22px;
  text-decoration: none;
  font-size: 25px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #E1B38C;
  color: E1B38C;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #B49400;
  color: white;
}
